<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>c4lab sg4 - GRN viz 2017/05/04 </title>

  <!-- load D3js -->
  <!-- <script src="https://cdn.bootcss.com/d3/4.8.0/d3.min.js"></script> -->
  <script type="text/javascript" src="./lib/d3plus.v1.9.8/js/d3.js"></script>

  <!-- load D3plus after D3js -->
  <!-- <script src="https://cdn.bootcss.com/d3plus/1.9.8/d3plus.full.min.js"></script> -->
  <script src="./lib/d3plus.v1.9.8/js/d3plus.js"></script>

  <!-- Vue.js 2.0 -->
  <script src="https://unpkg.com/vue@2.3.2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- Draw other file -->
    <span>Switch dataset: </span>
    <button type="radio" @click="changeFile('./data/GRN_1000.tsv')">1000 nodes</button>
    <button type="radio" @click="changeFile('./data/GRN_10000.tsv')">10000 nodes</button>
    <button type="radio" @click="changeFile('./data/GRNv1.0.0.tsv')">64598 nodes</button><br>
    <div>Connections: <a :href="connc_file">{{connc_file}}</a></div>

    <!-- Search -->
    <span>Jump to node: </span>
    <input list="suggestions" type="text" name="focus" v-model="focus" placeholder="T00015">
    <datalist id="suggestions">
      <option v-for="node in limitBy(20, matchedIds)" :value="node.id"></option>
    </datalist>
    <button type="button" @click="redraw()">Go</button><br>
    More info<input type="checkbox" id="checkbox" v-model="showInfo"><hr>

    <!-- Search preview -->
    <div v-show="showInfo" id="info">
      <table>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Organism</th>
        </tr>
        <tr v-for="node in limitBy(20, matchedIds)">
          <td>{{ node.id }}</td>
          <td>{{ node.Name }}</td>
          <td>{{ node.Organism }}</td>
        </tr>
      </table>
    </div>

    <!-- Loading message -->
    <h1 v-html="msg"></h1>

  </div>
  <div id="viz"></div>

  <script>

  const init_var = {
    msg: 'Hello d3plus',
    connc_file: './data/GRNv1.0.0.tsv',
    node_file: './data/id_3prop.tsv',
    visualization: {},
    focus: 'T00015',
    ids: [{'id':'N/A'}],
    edges: [],
    showInfo: false
  }

  var vm = new Vue({
    el: '#app',
    data: init_var,
    created: function() {
      var self = this
      var loading = setInterval(()=>{
        self.msg = String(self.msg) + '.'
      }, 500)

      // Draw connections only
      self.msg = 'Loading <code>' + self.connc_file + '</code> ...'
      d3.tsv(self.connc_file, function(edges){
        self.edges = edges
        self.draw(self.edges)
      })

      // Load ids after drawing
      self.msg = 'Loadeding <code>' + self.node_file + '</code> ...'
      d3.tsv(self.node_file, function(ids){
        self.ids = ids
        self.msg = ''
        clearInterval(loading)
      })
    },
    methods: {
      changeFile: function(conn_file) {
        vm.connc_file = conn_file
        vm.redraw()
      },
      draw: function(e) {
        document.getElementById("viz").innerHTML = ""
        // cast strength as number for proper label formatting
        e.forEach(function(d){
          d["strength"] = parseFloat(d["strength"])
        })

        /* Now here's where we actually create the network */
        vm.visualization = d3plus.viz()
        // .id("id")              // set id to match on nodes
        // .attrs(i)               // attrs e.g. names, colors etc.
        .container("#viz")            // container DIV to hold the viz
        .type("rings")                // visualization type
        .focus(vm.focus)  // center node on Beyonce
        .text("id")                // set text to display on nodes
        .edges({
          "value": e,             // set data for edges (default)
          "label": "strength",        // show edge labels
          "arrows": true              // show directional arrows
        })
        .draw()                       // finally, draw the visualization!
      },
      redraw: function() {
        // Clear
        document.getElementById("viz").innerHTML = ""
        // Load data and Draw
        d3.tsv(vm.connc_file, function(edges){
          vm.draw(edges)
        })
      },
      limitBy: function(n, items) {
        return items.slice(0, n)
      },
    },
    computed: {
      matchedIds: function () {
        var self = this
        return self.ids.filter(function (id) {
          return id.id.indexOf(self.focus) !== -1
        })
      }
    }
  })

  </script>
  <style media="screen">
    #info {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 1;
      border 1px black solid;
    }
  </style>
</body>
